@model kinotiki.BLL.Entity.User

@*@if (Model != null)
{
<div class="user-image">
    @if (Model.imageData == null)
    {
        <img width="100" style="height:auto" src="@Url.Content(kinotiki.Web.Helpers.WebHelper.GetDefaultUserImageSrc(Model.sex))" alt="user-image" />
    }
    else
    {
        <img class="img-responsive user-interface-user-image" src="@Url.Action("GetImage", "Account", new { Model.login })" alt="user-image" />
    }
</div>
<div class="user-interface" >
    <p>Hello <span class="user-login">@Model.login</span> ! <br />

    <div class="user-buttons">
        <a class="btn btn-primary btn-sm" href="@Url.Action("EditAccount", "Account")" style="margin-right:20px;">
            Edit
        </a>

        <a class="btn btn-primary btn-sm" href="@Url.Action("Logout", "Account")">
            Log-out
        </a>
    </div>
</div>
}*@

@if (Model != null)
{
    <style>
        .hide-user-info {
            position: absolute;
            z-index: -1;
            left: -999999px;
        }

        .show-user-info {
            position: absolute;
            z-index: 1;
            
            -moz-transform: translateX(10%);
            -ms-transform: translateX(10%);
            -webkit-transform: translateX(10%);
            -o-transform: translateX(10%);
            transform: translateX(10%);
        }

        a.button {
            cursor:  pointer;
        }

        .user-info-btn {
            width: 100% !important;
            padding: 5px;
            min-width: 265px;
        }

        .user-info-ddl {
            margin-top: 50px;
            background: #3c3a3a;
            min-width: 235px;
            border-radius: 20px;
            padding: 10px;
        }

        .user-info-ddl > div {
            margin-top: 10px;
        }

        .user-info-ddl > div:first-child {
            margin-top: 0;
        }

        .user-info-ddl a {
            font-size: 23px;
            width: 100%;
        }
    </style>

    <script>
        function openHideUserInfo() {
            var ddl = jQuery('.js--user-info-ddl');
            if (ddl.hasClass('show-user-info')) {
                ddl.addClass('hide-user-info');
                ddl.removeClass('show-user-info');
            } else {
                ddl.addClass('show-user-info');
                ddl.removeClass('hide-user-info');
            }
        }

        function changeTheme() {
            $.ajax(
                "/api/settings/themes/change",
                {
                    type: 'GET',
                    async: true,
                    success: function (data) {
                        document.location.reload(true);
                    },
                    error: function () {
                        console.log("error while getting API Key For MovieDB");
                    }
                }
            );
        }
    </script>

    <a onclick="openHideUserInfo()" class="button button-yellow text-uppercase mx-2 user-info-btn">@Model.login &#8595;</a>
    <div class="user-info-ddl hide-user-info js--user-info-ddl">
        <div class="d-flex">
            <a href="@Url.Action("EditAccount","Account")" class="button button-yellow text-uppercase mx-2">Edit Account</a>
        </div>
        <div class="d-flex">
            <a onclick="changeTheme()" class="button button-yellow text-uppercase mx-2">@{
                if (Model.isDarkTheme)
                {
                    @:White Theme
                }
                else
                {
                    @:Dark Theme
                }
            }</a>
        </div>
        <div class="d-flex">
            <a href="@Url.Action("LogOut","Account")" class="button button-yellow text-uppercase mx-2">Log Out</a>
        </div>
    </div>
}
