@model kinotiki.BLL.Entity.User

<div class="user-image">
    @if (Model.imageData == null)
    {
        <img width="100" style="height:auto" src="@Url.Content(kinotiki.Web.Helpers.WebHelper.GetDefaultUserImageSrc(Model.sex))" alt="user-image" />
    }
    else
    {
        <img class="img-responsive user-interface-user-image" src="@Url.Action("GetImage", "Account", new { Model.login })" alt="user-image" />
    }
</div>
<div class="user-interface" >
    <p>Hello <span class="user-login">@Model.login</span> ! <br />

    <div class="user-buttons">
        <a class="btn btn-primary btn-sm" href="@Url.Action("EditAccount","Account")" style="margin-right:20px;">
            Edit
        </a>

        <a class="btn btn-primary btn-sm" href="@Url.Action("Logout","Account")">
            Log-out
        </a>
    </div>
</div>

